In [ ]:
a=10
b=40
add = a+b
print(add)

50

In [ ]:
list1=["ashish","rahul","sandip","prashant"]
print("ashish" in list1)
print("sonu" in list1)
print("sonu" not in list1)

True
False
True

In [ ]:
print(int(3.5))
print(int(3))
# print(int(6+2j))
print(float(3.5))
print(float(3))

3
3
3.5
3.0

In [ ]:
a=2
b=5
res = complex(a,b)
print(res)
print(complex(3))

(2+5j)
(3+0j)

In [ ]:
a=10
b=2
print("a+b", a+b)
print("a-b", a-b)
print("a*b", a*b)
print("a/b", a/b)
print("a//b", a//b)
print("a**b", a**b)
print("a%b", a%b)

a+b 12
a-b 8
a*b 20
a/b 5.0
a//b 5
a**b 100
a%b 0

In [ ]:
import math as m
r=5
area = m.pi*(r**2)
print("Area of circle is ", area)

Area of circle is  78.53981633974483

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
res = a+b
print("Addition is ", res)

Enter a value: 10
Enter b value: 40
Addition is  50

In [ ]:
print("Addition is ", int(input('Enter a value: '))+int(input('Enter b value: ')))

Enter a value: 10
Enter b value: 20
Addition is  30

In [ ]:
a=eval((input("Enter any")))
print(a)

Enter any[2+20]
[22]

In [ ]:
print("Hello \n World")
print("Hello \t World")
print("Hello"+"World")
print("Hello"*3)

Hello
 World
Hello 	 World
HelloWorld
HelloHelloHello

In [ ]:
a=10
b=20
c=30
print(a,b,c)
a,b,c = 10,20,30
print(a,b,c, sep=": ")
a=b=c=10
print(a,b,c)
a,b,c = 10,20,30
print(a,b,c)

10 20 30
10: 20: 30
10 10 10
10 20 30

In [ ]:
print("Hello", end=" ")
print("Sanket!", end=" ")
print("How are you? ")

Hello Sanket! How are you?

In [ ]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [ ]:
name ="Sanket"
salary= 100000
company= "Goldman Sachs"
print("%s is working in %s with salary %d" %(name, company, salary))
print("Hello {0} your salary is {1} and company {2}". format(name, salary, company))
print("Hello {x} your salary is {y} and company {z}". format(x=name, y=salary, z=company))

Sanket is working in Goldman Sachs with salary 100000
Hello Sanket your salary is 100000 and company Goldman Sachs
Hello Sanket your salary is 100000 and company Goldman Sachs

In [ ]:
a=int(input('Enter a value: '))
print("Last value is ",a%10)

Enter a value: 20220
Last value is  0

In [ ]:
#Find sum of 2 digit of number
no=int(input("Enter no: "))
n1=no%10
n2=no//10
# print("sum of 2 digit is ",res)
res=n1+n2
print("sum of 2 digit is ",res)

Enter no: 56
sum of 2 digit is  11

In [ ]:
#Find sum of 3 digit of number
no=int(input("Enter no: "))
n1=no%10
no=no//10
n2=no%10
n3=no//10
res=n1+n2+n3
print("sum of 3 digits is ",res)

Enter no: 365
sum of 3 digits is  14

In [ ]:
#sum of 5 digits in a number
no=int(input("Enter no: "))
n1=no%10
no=no//10
n2=no%10
no=no//10
n3=no%10
no=no//10
n4=no%10
no=no//10
n5=no%10
res=n1+n2+n3+n4+n5
print("sum of 5 digits is ",res)

Enter no: 22222
sum of 5 digits is  10

In [ ]:
n = int(input("Enter a number: "))
n1 = n % 10
n = n // 10
n2 = n % 10
n = n // 10
n3 = n % 10
n = n // 10
n4 = n % 10
n = n // 10
n5 = n % 10

res = n1 * 10000 + n2 * 1000 + n3 * 100 + n4 * 10 + n5
print("Reverse of the number is", res)

Enter a number: 12345
Reverse of the number is 54321

In [ ]:
#finding sum of 1st and last number of 9 digit number
n = int(input("Enter a number: "))
n1 = n%10
n = n//100000000
n2 = n%10
res = n1 + n2
print("Sum of 1st and last number is", res)

Enter a number: 123456789
Sum of 1st and last number is 10

In [ ]:
s = "Sanket"
print(s[-1])
print(s[0])
print(s[2:4])
print(s[::-1])

t
S
nk
teknaS

In [ ]:
#if statement
#Accept 5 numbers and find maximum
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
d=int(input("Enter d: "))
e=int(input("Enter e: "))
max=a
if b>max:
    max=b
if c>max:
    max=c
if d>max:
    max=d
if e>max:
    max=e
print("Maximum is ",max)

Enter a: 6
Enter b: 2
Enter c: 9
Enter d: 0
Enter e: 1
Maximum is  9

In [ ]:
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
gender = input("Enter gender (M/F): ")
percentage = (m1+m2+m3)/3
print(percentage)
if gender == 'M':
    if percentage >= 62:
        print("Can Take Admission")
if gender == 'F':
    if percentage >= 82:
        print("Can Take Admission")

Enter marks for subject 1: 50
Enter marks for subject 2: 20
Enter marks for subject 3: 30
Enter gender (M/F): F
33.333333333333336

In [ ]:
#To find leap year
year = int(input("Enter year: "))
if year%4 == 0:
  if year%100 == 0:
    if year%400 == 0:
      print("Leap year")
    else:
      print("Not a leap year")
  else:
    print("Leap year")
else:
  print("Not a leap year")

Enter year: 2024
Leap year

In [ ]:
cost = int(input("Enter cost: "))
student = input("Are you a student? (Y/N): ")
if student == "Y" and cost > 500:
  cost = cost - (cost*0.1)
else:
  student == "Y" and cost > 500:
  cost = cost - (cost*0.05)
print("Total cost is ", cost)
else if student == "N" and cost > 500:
  cost = cost - (cost*0.08)
print("Total cost is ", cost)

SyntaxError: expected ':' (<ipython-input-36-ca560951f3e1>, line 5)

In [ ]:
no = input("Enter character: ")
no = ord(no)
if no >= 65 and no <= 90:
  print("Upper case")
elif no >= 97 and no <= 122:
  print("Lower case")
elif no >= 48 and no <= 57:
  print("Number")

Enter character: 6
Number

In [ ]:
i=1
sum =0
while i<10:
  if i%2 ==0:
    sum = sum+i
  i = i+1
print("Sum of even numbers is ", sum)

Sum of even numbers is  20

In [ ]:
#reverse the number
no=int(input("Enter any no: "))
rev=0
while no>0:
  rem = no%10
  rev=rev*10+rem
  no=no//10

print("Reverse no is ",rev)

Enter any no: 123
Reverse no is  321

In [ ]:
#Count the digits
no = int(input("Enter the number: "))
count = 0
while no > 0:
  count = count + 1
  no = no // 10
print("Count is ", count)

Enter the number: 1235
Count is  4

In [ ]:
#Armstrong Number
no = int(input("Enter the number: "))
temp = no
sum = 0
while no > 0:
  rem = no % 10
  sum = sum + (rem ** 3)
  no = no // 10
if temp == sum:
  print("Armstrong number")
else:
  print("Not an armstrong number")

Enter the number: 153
Armstrong number

In [ ]:
#All Armstrong number till 1000
for i in range(1,1000):
  temp = i
  sum = 0
  while i > 0:
    rem = i % 10
    sum = sum + (rem ** 3)
    i = i // 10
  if temp == sum:
    print(temp)

1
153
370
371
407

In [ ]:
#Peterson Number
no = int(input("Enter the number: "))
temp = no
sum = 0
while no > 0:
  rem = no % 10
  fact = 1
  for i in range(1,rem+1):
    fact = fact * i
  sum = sum + fact
  no = no // 10
if temp == sum:
  print("Peterson number")
  # else:
  #   print("Not a peterson number")

Enter the number: 145
Peterson number