In [ ]:
for i in range(1,11):
  if i ==5:
    continue;
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
j=10
for i in range(1,6):
  if i==3 and j== 8:
    continue;
  print(i,"\t",j)
  j=j-1

1 	 10
2 	 9
4 	 8
5 	 7

In [ ]:
for x in range(1,5):
  for y in range(1,5):
      print(y,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for x in range(1,5):
  for y in range(1,5):
      print(x,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n=1
for i in range(1,5):
  for j in range(1,5):
    print(n,end=" ")
    n=n+1
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n=65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end=" ")
    n=n+1
  print()

A B C D
E F G H
I J K L
M N O P

In [ ]:
for x in range(1,5):
  for y in range(1,x+1):
      print(x,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
for x in range(1,5):
  for y in range(1,x+1):
      print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for x in range(4,0,-1):
  for y in range(1,x+1):
      print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
sp=5
for i in range(1,5):
  for k in range(sp):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print()
  sp=sp-1

     *
    **
   ***
  ****

In [ ]:
a=10
print(a)
dela
print(a)

10

NameError: name 'dela' is not defined

In [ ]:
#find() rfind()

S="Learning Python is very easy from Ashish Sir"
print(S.find("Python")) #9
print(S.find("Java")) # -1
print(S.find("r"))#3
print(S.rfind("r"))#43

9
-1
3
43

In [ ]:
s="abcabcabcabcadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,10))

6
4
3

In [ ]:
s="abababababa"
s1 = s.replace("a","b")
print(s1)

bbbbbbbbbbb

In [ ]:
a=10
print(id(a))
b=10
print(id(b))

132885938569744
132885938569744

In [ ]:
s="Learning Python is very easy from Ashish Sir"
s1=s.split()
print(s1)
print(type(s1))
for x in s1:
  print(x)

['Learning', 'Python', 'is', 'very', 'easy', 'from', 'Ashish', 'Sir']
<class 'list'>
Learning
Python
is
very
easy
from
Ashish
Sir

In [ ]:
u="22#02#2022"
l=u.split("#")
print(l)
print(type(l))
for x in l:
  print(x)

['22', '02', '2022']
<class 'list'>
22
02
2022

In [ ]:
city = ["pune","shirpur","mumbai"]
s=": ".join(city)
print(s)

pune: shirpur: mumbai

In [ ]:
S='learning Python is very Easy from Ashish sir'
print(s.startswith('learning'))
print(s.endswith('learning'))
print(s.endswith('sir'))

False
False
False

In [ ]:
num = input("Enter mobile number: ")
if len(num) == 10 and num.isdigit() and (num.startswith("9") or num.startswith("8") or num.startswith("7")):
  print("Valid number")
else:
  print("Invalid number")

Enter mobile number: 4569658745
Invalid number

In [ ]:
#reverse string without function
s="Ashish"
# print(s[::-1])

rev=""
for x in s:
  rev=x + rev
print(rev)

hsihsA

In [ ]:
# Program to reverse order of words
s="Learning Python is very Easy from Ashish Sir"
l=s.split()
print(l)
rev=""
for x in l:
  rev=x + " " + rev
print(rev)

['Learning', 'Python', 'is', 'very', 'Easy', 'from', 'Ashish', 'Sir']
Sir Ashish from Easy very is Python Learning

In [ ]:
s=input ("Enter Some String: ")
l=s.split()
p1=[]
i=len(l)-1
while i>=0:
  p1.append (l[i])
  i=i-1
  output=' '.join(p1)
print(output)

Enter Some String: san kdj ury
ury kdj san

In [ ]:
l1=[]
l1.append(22)
l1. append(2.5)
l1. append("Ashish")
l1.append(43543)
print(l1)
l1.insert(2,"Raj")
print(l1)

[22, 2.5, 'Ashish', 43543]
[22, 2.5, 'Raj', 'Ashish', 43543]

In [ ]:
n =[10,20,30,40,50]
n.remove(10)
print(n)
n.pop()
print(n)

[20, 30, 40, 50]
[20, 30, 40]
[20, 30]

In [ ]:
n = [10,20,30,[23,33,43]]
print(n[3][1])

33

In [ ]:
n=[[10,20,30],[40,50,60],[70,80,90]]
print(n)
for x in n:
  print(x)
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=" ")
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
10 20 30
40 50 60
70 80 90

In [ ]:
sem = int(input("Enter the number of semesters: "))
sub = int(input("Enter the number of subjects: "))

for i in range(sem):
    print(f"Enter the marks for semester {i + 1}:")
    marks = []  # Initialize marks list for each semester
    for j in range(sub):
        mark = int(input("Enter the marks: "))
        marks.append(mark)  # Append marks to the correct list

    max_marks = max(marks)  # Find the maximum marks
    print(f"Maximum marks in semester {i + 1}: {max_marks}")

Enter the number of semesters: 2
Enter the number of subjects: 2
Enter the marks for semester 1:
Enter the marks: 65
Enter the marks: 87
Maximum marks in semester 1: 87
Enter the marks for semester 2:
Enter the marks: 89
Enter the marks: 67
Maximum marks in semester 2: 89

Enter the number of semesters: 3
Enter the number of subjects: 4
Semester 1:
Enter score for subject 1: 20
Enter score for subject 2: 50
Enter score for subject 3: 30
Enter score for subject 4: 90
Maximum score in semester 1: 90
Semester 2:

KeyboardInterrupt: Interrupted by user

In [ ]:
s= {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [ ]:
#remove duplicate elements from the list
l={10,20,50,40,60,90,80,30,20,10}
# print(l)
l1=list(l)
print(l1)

[40, 10, 80, 50, 20, 90, 60, 30]

In [ ]:
d={100:"Sanket",200:"Himanshu",300:"Ashish"}
print(d)
d[400]="Raj"
print(d)
d[200]="Sonu"
print(d)

{100: 'Sanket', 200: 'Himanshu', 300: 'Ashish'}
{100: 'Sanket', 200: 'Himanshu', 300: 'Ashish', 400: 'Raj'}
{100: 'Sanket', 200: 'Sonu', 300: 'Ashish', 400: 'Raj'}

In [ ]:
rec = {}
n=int(input("Enter number of students: "))
for i in range(0,n):
    name=input("Enter student name: ")
    marks=input("Enter % marks of student: ")
    rec[name]=marks
print(rec)

Enter number of students: 3
Enter student name: him
Enter % marks of student: 90
Enter student name: tim
Enter % marks of student: 80
Enter student name: rim
Enter % marks of student: 70
{'him': '90', 'tim': '80', 'rim': '70'}

In [ ]:
d={100: 'ashish' , 200: 'Prashant', 300: 'sandip'}
print(d.keys())
for k in d.keys():
  print(k)

dict_keys([100, 200, 300])
100
200
300

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
for k,v in d.items():
  print(k," -- >",v)

100  -- > ashish
200  -- > Prashant
300  -- > sandip

In [ ]:
n= int(input("Enter the no of elements: "))
arr =[]
for element in input("Enter the elements separated by space: ").split():
  arr.append(int(element))
result=[]
for i in range(n):
  next_larger = -1
  for j in range(i+1,n):
    if arr[i] < arr[j]:
      next_larger = arr[j]
      break
  result.append(next_larger)
print(result)

Enter the no of elements: 4
Enter the elements separated by space:  1 0 2 5
[2, 2, 5, -1]

In [ ]:
#to check anagram
s1= input("Enter the string: ")
s2=input("Enter the string:")
if sorted(s1)==sorted(s2):
  print("Anagram")
else:
  print("Not Anagram")